* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/fundo-musical.jpg);
    font-family: 'Fredoka One', cursive;
}

header {
    background-color: floralwhite;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    width: 100%;
}

header .ouvintes, 
header .seguidores {
    align-items: center;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    font-family: 'Catamaran', sans-serif;
    margin: 0.3rem 0.5rem;
}

header span {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

main {
    background-color: floralwhite;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 8rem auto;
    max-width: 600px;
    padding: 2rem;
    position: relative;
}

main > img {
    align-self: center;
    position: absolute;
    top: -8.5rem;
}

h1 {
    color: rgba(233, 168, 0, 0.6);
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}

h3 {
    color: palevioletred;
}

p {
    color: rgba(0, 120, 223, 0.6);
}

p a {
    color: rgba(221, 0, 129, 0.4);
    text-decoration: none;
}

p a:hover {
    color: rgba(221, 0, 129, 0.6);
    text-decoration: underline;
}

p span {
    color: rgba(233, 168, 0, 0.6);
}

.main__img-div img {
    margin: 1.5rem 0;
    width: 100%;
}

li {
    color: palevioletred;
    border: 1px solid rgba(221, 0, 129, 0.2);
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em;
}

li a {
    align-content: center;
    align-items: center;
    color: rgb(173, 172, 169);
    display: flex;
    text-decoration: none;
}

li a:hover {
    color: palevioletred;
}

li a > img {
    height: 70px;
    margin-right: 0.5em;
    width: 70px;
}

li > hr {
    border-color: rgba(221, 0, 129, 0.4);
    min-width: fit-content;
}

footer {
    align-items: center;
    background-color: floralwhite;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: rgba(0, 120, 223, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

.footer__creator {
    font-size: 13px
}

.footer__creator hr {
    margin: 0.5rem;
    min-width: fit-content;
    
}

footer a {
    color: rgba(233, 168, 0, 0.6);
    margin: 0 3px;
    text-decoration: none;
}

footer a:hover {
    color: rgba(233, 168, 0, 0.8);
    text-decoration: underline;
}